/* Styles */
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 48px;
}

main {
    background-color: #e0dfce;
    line-height: 1.5;
    width: 75%;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 12px;
    padding: 50px; 
}

img {
    border: 1px solid black;
    border-radius: 6px;
}

.recipes-list > li > a {
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.recipes-list > li > a:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: 0.6s;
}

ul, ol {
    list-style: none;
}

img {
    display: block;
    margin: auto;
}